<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Products</h2>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Edit</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${product}">
        <td th:text="${product.productId}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.productQuantity}"></td>
        <td><a th:href="@{'product/edit/' + ${product.productId}}">Edit</a></td>
        <td><a th:href="@{'product/delete/' + ${product.productId}}">Delete</a></td>

    </tr>
    </tbody>
</table>
</body>
</html>